<div class="container py-5">
  <div class="row">
    
    <!-- Article principal -->
    <div class="col-md-9">
      <h1><%= post.title %></h1>
      <p class="text-muted">
        Publié le 
        <%= post.date_publication 
              ? new Date(post.date_publication).toLocaleDateString('fr-FR') 
              : new Date(post.created_at).toLocaleDateString('fr-FR') %>
        par <%= post.author?.name || 'Auteur inconnu' %> |
        Catégorie : <%= post.category?.nom || 'Non catégorisé' %>
      </p>

      <% if (post.image) { %>
        <img src="/images/<%= post .image %>" 
             alt="<%= post.titre %>" 
             class="d-block mx-auto img-fluid my-3"
             style="max-height: 400px; object-fit: cover;">
      <% } %>

      <div class="mt-4">
        <%- post.content %>
        <a href="/actualites" class="btn btn-catalogue">← Précédent</a>
      </div>
    </div>

    <!-- Colonne droite : autres articles même catégorie -->
    <div class="col-md-3">
      
        <div class="card">
          <div class="card-header">
            Articles dans <%= post.category.name %>
          </div>
          <% if (similarPosts.length > 0) { %>
          <ul class="list-group list-group-flush">
            <% similarPosts.forEach(sp => { %>
              <li class="list-group-item">
                <a href="/actualites/<%= sp.slug %>"><%= sp.title %></a>
              </li>
            <% }) %>
          </ul>
          <% } 
          else {%>
            <li class="mx-3 mt-3 mb-3">
                Aucun article à affiché
            </li>
          <% } %>
        </div>
      
    </div>

  </div>
</div>

